<template>
    <v-app>
        <Snackbar
            v-bind="snackbar"
            @close="snackbar.visible = false"
        />

        <Header />

        <v-main>
            <router-view />
        </v-main>

        <Footer />
    </v-app>
</template>

<script>
    import Footer from '@/components/Footer.vue';
    import Header from '@/components/Header.vue';
    import Snackbar from '@/components/Snackbar.vue';

    export default {
        name: 'App',
        components: { Footer, Header, Snackbar },
        data() {
            return {
                snackbar: {
                    message: '',
                    position: ['top'],
                    type: 'info',
                    visible: false
                }
            };
        },
        mounted() {
            this.$root.$on('showNotification', this.showNotification);
        },
        methods: {
            showNotification({ message, position, type }) {
                this.snackbar = {
                    ...this.snackbar,
                    message,
                    position: position || ['top'],
                    visible: true,
                    type: type || 'info'
                };
            }
        }
    };
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    #nav {
        padding: 30px;
    }

    #nav a {
        font-weight: bold;
        color: #2c3e50;
    }

    #nav a.router-link-exact-active {
        color: #42b983;
    }
</style>
