<template>
    <div>
        <v-form ref="form">
            <v-container fluid>
                <v-row>
                    <v-col>
                        <v-text-field
                            :value="user.Username"
                            label="Username"
                            readonly
                        />
                    </v-col>

                    <v-col>
                        <v-text-field
                            :value="user.Email"
                            label="Email"
                            readonly
                        />
                    </v-col>

                    <v-col v-if="currentUserId === userId">
                        <v-text-field
                            :value="currentUserRole | role"
                            label="Role"
                            readonly
                        />
                    </v-col>
                </v-row>

                <v-row>
                    <v-col>
                        <v-text-field
                            v-model="model.FirstName"
                            :rules="form.firstName"
                            label="First name"
                        />
                    </v-col>

                    <v-col>
                        <v-text-field
                            v-model="model.LastName"
                            :rules="form.lastName"
                            label="Last name"
                        />
                    </v-col>
                </v-row>

                <v-row>
                    <v-spacer />

                    <v-btn
                        v-if="currentUserRole === roles.Administrator"
                        @click="remove"
                        text
                    >
                        <v-icon>mdi-delete</v-icon>

                        <span>Remove</span>
                    </v-btn>

                    <v-btn
                        @click="save"
                        text
                    >
                        <v-icon>mdi-content-save</v-icon>

                        <span>Save</span>
                    </v-btn>
                </v-row>
            </v-container>
        </v-form>
    </div>
</template>

<script>
    import { api } from '@/services';
    import { errorHandler, validator } from '@/mixins';
    import { mapActions, mapGetters } from 'vuex';
    import { roles } from '@/config';

    export default {
        name: 'User',
        filters: {
            role(role) {
                return Object
                    .entries(roles)
                    .find(([, value]) => value === role)[0];
            }
        },
        mixins: [errorHandler, validator],
        data() {
            return {
                form: {
                    firstName: [this.validateRequiredField('First name')],
                    lastName: [this.validateRequiredField('Last name')]
                },
                model: {
                    FirstName: '',
                    LastName: ''
                },
                user: {
                    Articles: [],
                    Comments: [],
                    Email: '',
                    FirstName: '',
                    LastName: '',
                    Username: ''
                }
            };
        },
        computed: {
            ...mapGetters('user', {
                currentUserId: 'id',
                currentUserRole: 'role'
            }),
            roles() {
                return roles;
            },
            userId() {
                return +this.$route.params.id;
            }
        },
        mounted() {
            this.load();
        },
        methods: {
            ...mapActions('auth', ['signOutOidcSilent']),
            ...mapActions('user', { clearUser: 'clear' }),
            load() {
                api
                    .request({
                        method: 'GET',
                        url: `users(${this.userId})`,
                        params: '$expand=Articles($select=Id,Title)'
                    })
                    .then(({ data }) => {
                        this.user = data;

                        this.model.FirstName = data.FirstName;
                        this.model.LastName = data.LastName;
                    })
                    .catch(this.handleError);
            },
            save() {
                if (this.$refs.form.validate()) {
                    api
                        .request({
                            method: 'PATCH',
                            url: `users(${this.userId})`,
                            data: this.model
                        })
                        .then(() => {
                            this.$root.$emit('showNotification', {
                                message: 'User updated',
                                type: 'success'
                            });

                            this.user = {
                                ...this.user,
                                ...this.model
                            };

                            this.$refs.form.resetValidation();
                        })
                        .catch(this.handleError);
                }
            },
            remove() {
                api
                    .request({
                        method: 'DELETE',
                        url: `users(${this.userId})`
                    })
                    .then(() => {
                        this.$root.$emit('showNotification', {
                            message: 'User removed',
                            type: 'success'
                        });

                        if (this.currentUserRole < roles.Administrator) {
                            this.signOutOidcSilent();

                            this.clearUser();
                        }

                        this.$router.push({ name: this.currentUserRole >= roles.Administrator ? 'Users' : 'Home' });
                    })
                    .catch(this.handleError);
            }
        }
    };
</script>