<template>
    <div>
        <v-list class="text-left">
            <template v-for="(user, index) in users">
                <v-list-item
                    :key="`user-${user.Id}`"
                    :to="{ name: 'User', params: { id: user.Id } }"
                >
                    <v-list-item-title>
                        <v-row>
                            <v-col>{{ user.Username }}</v-col>
                            <v-col>{{ user.Email }}</v-col>
                            <v-col>{{ user.FirstName }}</v-col>
                            <v-col>{{ user.LastName }}</v-col>
                        </v-row>
                    </v-list-item-title>
                </v-list-item>

                <v-divider
                    v-if="index + 1 !== users.length"
                    :key="`divider-${index}`"
                />
            </template>
        </v-list>
    </div>
</template>

<script>
    import { api } from '@/services';
    import { errorHandler } from '@/mixins';

    export default {
        name: 'Users',
        mixins: [errorHandler],
        data() {
            return {
                users: []
            };
        },
        mounted() {
            this.load();
        },
        methods: {
            load() {
                api
                    .request({
                        method: 'GET',
                        url: 'users'
                    })
                    .then(({ data }) => this.users = data.value)
                    .catch(this.handleError);
            }
        }
    };
</script>