<template>
    <div>
        <v-footer
            app
            class="footer"
            color="secondary"
            padless
        >
            <v-col
                class="text-center"
                cols="12"
            >
                Andrius Andrikonis, IFF-7/11, {{ today }} Kaunas
            </v-col>
        </v-footer>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        name: 'Footer',
        computed: {
            today() {
                return moment().format('YYYY');
            }
        }
    };
</script>

<style scoped>
    .footer {
        font-size: 13px;
    }
</style>