<template>
    <div>
        <v-app-bar
            app
            color="secondary"
            dense
            elevate-on-scroll
        >
            <v-app-bar-nav-icon @click="drawer.visible = true" />

            <v-toolbar-title>{{ title }}</v-toolbar-title>

            <v-spacer />

            <v-menu
                bottom
                left
            >
                <template #activator="{ attrs, on }">
                    <v-btn
                        v-bind="attrs"
                        v-on="on"
                        v-show="oidcIsAuthenticated"
                        text
                    >
                        <v-icon>mdi-account-circle</v-icon>

                        <span>{{ username }}</span>
                    </v-btn>
                </template>

                <v-list
                    color="primary"
                    dense
                    nav
                >
                    <v-list-item
                        :to="{
                            name: 'User',
                            params: { id: userId }
                        }"
                        exact
                    >
                        <v-list-item-title>Profile</v-list-item-title>
                    </v-list-item>

                    <v-list-item @click="signOutOidc">
                        <v-list-item-title>Logout</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>

            <v-tooltip bottom>
                <template #activator="{ attrs, on }">
                    <v-btn
                        v-bind="attrs"
                        v-on="on"
                        v-show="!oidcIsAuthenticated"
                        @click="authenticateOidc"
                        icon
                    >
                        <v-icon>mdi-login-variant</v-icon>
                    </v-btn>
                </template>

                <span>Login</span>
            </v-tooltip>
        </v-app-bar>

        <v-navigation-drawer
            v-model="drawer.visible"
            app
            color="primary"
            temporary
        >
            <v-list
                class="text-left"
                dense
                nav
            >
                <v-list-item
                    :to="{ name: 'Home' }"
                    exact
                >
                    <v-list-item-icon>
                        <v-icon>mdi-home</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>Home</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-divider />

                <v-list-item
                    :to="{ name: 'Articles' }"
                    exact
                >
                    <v-list-item-icon>
                        <v-icon>mdi-newspaper-variant-outline</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>Artilces</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item
                    v-if="roles.Administrator <= userRole"
                    :to="{ name: 'Comments' }"
                    exact
                >
                    <v-list-item-icon>
                        <v-icon>mdi-comment-processing-outline</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>Comments</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item
                    v-if="roles.Administrator <= userRole"
                    :to="{ name: 'Users' }"
                    exact
                >
                    <v-list-item-icon>
                        <v-icon>mdi-card-account-details-outline</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>Users</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex';
    import { roles } from '@/config';

    export default {
        name: 'Header',
        data() {
            return {
                drawer: {
                    visible: false
                }
            };
        },
        computed: {
            ...mapGetters('auth', ['oidcIsAuthenticated']),
            ...mapGetters('user', {
                userId: 'id',
                username: 'username',
                userRole: 'role'
            }),
            roles() {
                return roles;
            },
            title() {
                return this.$route.meta.title || process.env.VUE_APP_DEFAULT_TITLE;
            }
        },
        methods: {
            ...mapActions('auth', ['authenticateOidc', 'signOutOidc'])
        }
    };
</script>