<template>
    <div>
        <v-flex justify-center>
            <img
                height="100px"
                src="@/assets/KTU_logo_LT.jpg"
            />
            <h2>T120B165 Saityno taikomųjų programų projektavimas</h2>
            <h3>Trečias laboratorinis darbas</h3>
        </v-flex>
    </div>
</template>

<script>
    export default {
        name: 'Home'
    };
</script>