<template>
    <div>
        <v-snackbar
            v-model="visible"
            :bottom="position.includes('bottom')"
            :color="type"
            :left="position.includes('left')"
            :right="position.includes('right')"
            :top="position.includes('top')"
            timeout="-1"
        >
            {{ message }}
            <template #action="{ attrs }">
                <v-btn
                    v-bind="attrs"
                    :color="type"
                    @click="$emit('close')"
                    class="button"
                >
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </template>
        </v-snackbar>
    </div>
</template>

<script>
    export default {
        name: 'Snackbar',
        props: {
            message: {
                default: '',
                type: String
            },
            position: {
                default: () => ['top'],
                type: Array,
                validator: position => {
                    const validValues = ['bottom', 'left', 'right', 'top'];

                    return (
                        position.every(value => validValues.includes(value)) &&
                        !(position.includes('bottom') && position.includes('bottom')) &&
                        !(position.includes('left') && position.includes('right'))
                    );
                }
            },
            type: {
                default: 'info',
                type: String
            },
            visible: {
                default: false,
                type: Boolean
            }
        },
        watch: {
            visible() {
                setTimeout(() => this.$emit('close'), 5000);
            }
        }
    };
</script>

<style scoped>
    .button {
        box-shadow: none;
    }
</style>