<template>
    <div>
        <ArticleEdit
            v-model="dialog.visible"
            @refresh="load"
        />

        <v-row>
            <v-spacer />

            <v-btn
                v-if="userRole >= roles.Editor"
                @click="dialog.visible = true"
                text
            >
                <v-icon>mdi-pencil-plus</v-icon>

                <span>Create</span>
            </v-btn>
        </v-row>

        <v-list
            class="text-left"
            three-line
        >
            <template v-for="(article, index) in articles">
                <v-list-item
                    :key="`article-${article.Id}`"
                    :to="{ name: 'Article', params: { id: article.Id } }"
                >
                    <v-list-item-content>
                        <v-list-item-title>{{ article.Title }}</v-list-item-title>
                        <v-list-item-subtitle>{{ article.Content }}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-divider
                    v-if="index + 1 !== articles.length"
                    :key="`divider-${index}`"
                />
            </template>
        </v-list>
    </div>
</template>

<script>
    import { api } from '@/services';
    import { ArticleEdit } from './components';
    import { errorHandler } from '@/mixins';
    import { mapGetters } from 'vuex';
    import { roles } from '@/config';

    export default {
        name: 'Articles',
        components: { ArticleEdit },
        mixins: [errorHandler],
        data() {
            return {
                articles: [],
                dialog: {
                    visible: false
                }
            };
        },
        computed: {
            ...mapGetters('user', {
                userRole: 'role'
            }),
            roles() {
                return roles;
            }
        },
        mounted() {
            this.load();
        },
        methods: {
            load() {
                api
                    .request({
                        method: 'GET',
                        url: 'articles',
                        params: {
                            $orderby: 'Id desc'
                        }
                    })
                    .then(response => this.articles = response.data.value)
                    .catch(this.handleError);
            }
        }
    };
</script>