<template>
    <div>
        <ArticleEdit
            v-model="edit.visible"
            :article="article"
            @refresh="load"
        />

        <v-layout justify-center>
            <v-flex
                lg11
                md12
            >
                <v-card
                    class="text-left"
                    flat
                    tile
                >
                    <v-card-title>
                        <h3>{{ article.Title }}</h3>
                        <span> - by {{ article.User.FirstName }} {{ article.User.LastName }}</span>
                    </v-card-title>

                    <v-divider />

                    <v-card-text> {{ article.Content }}</v-card-text>

                    <v-divider v-if="authorized" />

                    <v-card-actions v-if="authorized">
                        <v-spacer />

                        <v-btn
                            v-if="userRole === roles.Administrator && article.Id"
                            @click="remove"
                            text
                        >
                            <v-icon>mdi-delete</v-icon>

                            <span>Remove</span>
                        </v-btn>

                        <v-btn
                            @click="edit.visible = true"
                            text
                        >
                            <v-icon>mdi-pencil</v-icon>

                            <span>Edit</span>
                        </v-btn>
                    </v-card-actions>

                    <v-card-title>Comments</v-card-title>

                    <v-divider />

                    <v-card-text>
                        <v-list v-if="article.Comments.length">
                            <template v-for="(comment, index) in article.Comments">
                                <v-list-item :key="`comment-${comment.Id}`">
                                    <v-container fluid>
                                        <v-row>
                                            <v-col>
                                                <Comment
                                                    :comment="comment"
                                                    @save="save($event, comment.Id)"
                                                    diplay-replies
                                                    readonly
                                                />
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-list-item>

                                <v-divider
                                    v-if="index + 1 !== article.Comments.length"
                                    :key="`divider-${index}`"
                                />
                            </template>
                        </v-list>

                        <span v-else>There are no comments</span>

                        <v-divider />
                        <Comment
                            v-if="oidcIsAuthenticated"
                            @save="save($event)"
                        />
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    import { api } from '@/services';
    import { ArticleEdit } from './components';
    import { Comment } from '@/components/comments';
    import { errorHandler } from '@/mixins';
    import { mapGetters } from 'vuex';
    import { roles } from '@/config';

    export default {
        name: "Article",
        components: { ArticleEdit, Comment },
        mixins: [errorHandler],
        data() {
            return {
                article: {
                    Comments: [],
                    User: {
                        FirstName: '',
                        LastName: ''
                    }
                },
                edit: {
                    visible: false
                }
            };
        },
        computed: {
            ...mapGetters('auth', ['oidcIsAuthenticated']),
            ...mapGetters('user', {
                userId: 'id',
                userRole: 'role'
            }),
            articleId() {
                return this.$route.params.id;
            },
            authorized() {
                return (
                    this.oidcIsAuthenticated &&
                    this.userRole >= roles.Editor && (
                        this.userRole === roles.Administrator ||
                        this.userId === this.article.UserId
                    )
                );
            },
            roles() {
                return roles;
            }
        },
        mounted() {
            this.load();
        },
        methods: {
            load() {
                api
                    .request({
                        method: 'GET',
                        url: `articles(${this.articleId})`,
                        params: {
                            $expand: 'Comments($expand=User),User'
                        }
                    })
                    .then(({ data }) => this.article = data)
                    .catch(this.handleError);
            },
            remove() {
                api
                    .request({
                        method: 'DELETE',
                        url: `articles(${this.article.Id})`
                    })
                    .then(() => {
                        this.$root.$emit('showNotification', {
                            message: 'Article deleted',
                            type: 'success'
                        });

                        this.$router.push({ name: 'Articles' });
                    })
                    .catch(this.handleError);
            },
            save({ parentId, text }, id) {
                const request = {
                    method: id ? 'PATCH' : 'POST',
                    url: id ? `comments(${id})` : 'comments',
                    data: {
                        ArticleId: this.article.Id,
                        Text: text
                    }
                };

                if (!id) {
                    request.data.UserId = this.userId;
                }

                if (parentId) {
                    request.data.ParentId = parentId;
                }

                api
                    .request(request)
                    .then(() => {
                        this.$root.$emit('showNotification', {
                            message: 'Comment saved',
                            type: 'success'
                        });

                        api
                            .request({
                                method: 'GET',
                                url: `articles(${this.article.Id})/comments`,
                                params: {
                                    $expand: 'User'
                                }
                            })
                            .then(({ data }) => this.article.Comments = data.value)
                            .catch(this.handleError);
                    })
                    .catch(this.handleError);
            }
        }
    };
</script>