<template>
    <div>
        <v-dialog
            v-model="dialog.visible"
            persistent
        >
            <v-card>
                <v-card-title>Create profile</v-card-title>

                <v-divider />

                <v-card-text>
                    <v-form ref="form">
                        <v-container fluid>
                            <v-row>
                                <v-col>
                                    <v-text-field
                                        :value="dialog.model.username"
                                        label="Username"
                                        readonly
                                    />
                                </v-col>

                                <v-col>
                                    <v-text-field
                                        :value="dialog.model.email"
                                        label="Email"
                                        readonly
                                    />
                                </v-col>

                                <v-col>
                                    <v-text-field
                                        :value="dialog.model.role | role"
                                        label="Role"
                                        readonly
                                    />
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col>
                                    <v-text-field
                                        v-model="dialog.model.firstName"
                                        :rules="dialog.form.firsName"
                                        label="First name"
                                    />
                                </v-col>

                                <v-col>
                                    <v-text-field
                                        v-model="dialog.model.lastName"
                                        :rules="dialog.form.lastName"
                                        label="Last name"
                                    />
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-form>
                </v-card-text>

                <v-divider />

                <v-card-actions>
                    <v-spacer />

                    <v-tooltip top>
                        <template #activator="{ attrs, on }">
                            <v-btn
                                v-bind="attrs"
                                v-on="on"
                                @click="cancel"
                                text
                            >
                                Cancel
                            </v-btn>
                        </template>

                        <span>By canceling you will automatically be signed out</span>
                    </v-tooltip>

                    <v-btn
                        @click="create"
                        text
                    >
                        Create
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import { api } from '@/services';
    import { errorHandler, validator } from '@/mixins';
    import { mapActions, mapGetters } from 'vuex';
    import { roles } from '@/config';

    export default {
        name: 'LoginCallback',
        filters: {
            role(role) {
                return Object
                    .entries(roles)
                    .find(([, value]) => value === role)[0];
            }
        },
        mixins: [errorHandler, validator],
        data() {
            return {
                dialog: {
                    form: {
                        firsName: [this.validateRequiredField('First name')],
                        lastName: [this.validateRequiredField('Last name')]
                    },
                    model: {
                        fmail: '',
                        firstName: '',
                        lastName: '',
                        role: 0,
                        username: ''
                    },
                    visible: false
                },
                redirectPath: '/'
            };
        },
        computed: {
            ...mapGetters('auth', ['oidcAccessToken'])
        },
        mounted() {
            this
                .oidcSignInCallback()
                .then(redirectPath => {
                    this.$root.$emit(
                        'showNotification',
                        {
                            message: 'Signed in.',
                            type: 'success'
                        }
                    );

                    const userInfo = JSON.parse(atob(this.oidcAccessToken.split('.')[1]));

                    api
                        .request({
                            method: 'GET',
                            url: `users(username='${userInfo.unique_name}')`
                        })
                        .then(({ data }) => {
                            if (Array.isArray(userInfo.role)) {
                                data.Role = Math.max(...userInfo.role.map(name => roles[name]));
                            } else {
                                data.Role = roles[userInfo.role];
                            }

                            this.setUser(data);

                            this.$router.replace(redirectPath);
                        })
                        .catch(err => {
                            if (err.response && err.response.status === 404) {
                                this.dialog.model.email = userInfo.email;

                                if (Array.isArray(userInfo.role)) {
                                    this.dialog.model.role = Math.max(...userInfo.role.map(name => roles[name]));
                                } else {
                                    this.dialog.model.role = roles[userInfo.role];
                                }

                                this.dialog.model.username = userInfo.unique_name;

                                this.redirectPath = redirectPath;

                                this.dialog.visible = true;
                            } else {
                                this.handleError(err);
                            }
                        });
                })
                .catch(this.handleError);
        },
        methods: {
            ...mapActions('auth', ['oidcSignInCallback', 'signOutOidcSilent']),
            ...mapActions('user', { setUser: 'set' }),
            cancel() {
                this.signOutOidcSilent();

                this.dialog.visible = false;

                this.$router.replace({ name: 'Home' });
            },
            create() {
                if (this.$refs.form.validate()) {
                    api
                        .request({
                            method: 'POST',
                            url: 'users',
                            data: {
                                Email: this.dialog.model.email,
                                FirstName: this.dialog.model.firstName,
                                LastName: this.dialog.model.lastName,
                                Username: this.dialog.model.username
                            }
                        })
                        .then(({ data }) => {
                            data.Role = this.dialog.model.role;

                            this.setUser(data);

                            this.$router.replace(this.redirectPath);
                        })
                        .catch(this.handleError);
                }
            }
        }
    };
</script>
