<template>
    <div></div>
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        name: 'LogoutCallBack',
        mounted() {
            this.$root.$emit(
                'showNotification',
                {
                    message: 'Singned out.',
                    type: 'success'
                }
            );

            this.clearUser();

            this.$router.replace({ name: 'Home' });
        },
        methods: {
            ...mapActions('user', { clearUser: 'clear' })
        }
    };
</script>
