<template>
    <div></div>
</template>

<script>
    import { auth } from '@/config';
    import { vuexOidcProcessSilentSignInCallback } from 'vuex-oidc';

    export default {
        name: 'SilenRenewCallback',
        mounted() {
            vuexOidcProcessSilentSignInCallback(auth);
        }
    };
</script>