<template>
    <div>
        <v-dialog
            :value="value"
            persistent
        >
            <v-card
                :disabled="loading"
                :loading="loading"
            >
                <v-card-title>Article edit</v-card-title>

                <v-divider />

                <v-card-text>
                    <v-form ref="form">
                        <v-container fluid>
                            <v-row>
                                <v-col>
                                    <v-text-field
                                        v-model="model.Title"
                                        :rules="form.title"
                                        label="Title"
                                    />
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-textarea
                                        v-model="model.Content"
                                        :rules="form.content"
                                        label="Content"
                                    />
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-form>
                </v-card-text>

                <v-divider />

                <v-card-actions>
                    <v-spacer />

                    <v-btn
                        @click="cancel"
                        text
                    >
                        Cancel
                    </v-btn>

                    <v-btn
                        @click="save"
                        text
                    >
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import { api } from '@/services';
    import { errorHandler, validator } from '@/mixins';
    import { mapGetters } from 'vuex';

    export default {
        name: 'ArtilceEdit',
        mixins: [errorHandler, validator],
        props: {
            article: {
                default: () => ({
                    Content: '',
                    Id: 0,
                    Title: '',
                    UserId: 0
                }),
                type: Object
            },
            value: {
                default: false,
                type: Boolean
            }
        },
        data() {
            return {
                form: {
                    content: [this.validateRequiredField('Content')],
                    title: [this.validateRequiredField('Title')]
                },
                loading: false,
                model: {
                    Content: '',
                    Title: ''
                }
            };
        },
        computed: {
            ...mapGetters('user', { userId: 'id' })
        },
        watch: {
            value(newValue, oldValue) {
                if (newValue !== oldValue) {
                    if (newValue) {
                        this.model.Content = this.article.Content;
                        this.model.Title = this.article.Title;
                    } else {
                        this.model = {
                            Content: '',
                            Title: ''
                        };
                    }
                }
            }
        },
        methods: {
            cancel() {
                this.$emit('input', false);

                this.$refs.form.resetValidation();
            },
            save() {
                if (this.$refs.form.validate()) {
                    this.loading = true;

                    if (!this.article.Id) {
                        this.model.UserId = this.userId;
                    }

                    api
                        .request({
                            method: this.article.Id ? 'PATCH' : 'POST',
                            url: this.article.Id ? `articles(${this.article.Id})` : 'articles',
                            data: this.model
                        })
                        .then(() => {
                            this.$root.$emit('showNotification', {
                                message: 'Article saved',
                                type: 'success'
                            });

                            this.$emit('refresh');

                            this.loading = false;

                            this.cancel();
                        })
                        .catch(this.handleError);
                }
            }
        }
    };
</script>