<template>
    <div class="comment text-left">
        <v-form
            :readonly="readonly"
            ref="form"
        >
            <v-container fluid>
                <v-row>
                    <v-col>
                        <h4>{{ name }}</h4>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col>
                        <v-textarea
                            v-model="text"
                            :rules="form.text"
                            label="Comment"
                        />
                    </v-col>
                </v-row>

                <v-row>
                    <v-spacer />

                    <v-btn
                        v-if="!readonly"
                        @click="save"
                        text
                    >
                        <v-icon>mdi-comment-text</v-icon>

                        <span>Save</span>
                    </v-btn>
                </v-row>
            </v-container>
        </v-form>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import { validator } from '@/mixins';

    export default {
        name: 'Comment',
        mixins: [validator],
        props: {
            comment: {
                default: () => ({
                    Text: '',
                    User: {
                        Username: ''
                    }
                }),
                type: Object
            },
            parentId: {
                default: 0,
                type: Number
            },
            readonly: {
                default: false,
                type: Boolean
            }
        },
        data() {
            return {
                form: {
                    text: [this.validateRequiredField('Comment')]
                },
                model: {
                    text: ''
                }
            };
        },
        computed: {
            ...mapGetters('user', ['username']),
            name() {
                return this.comment.User.Username || this.username;
            },
            text: {
                get() {
                    return this.model.text || this.comment.Text;
                },
                set(value) {
                    this.model.text = value;
                }
            }
        },
        methods: {
            save() {
                if (this.$refs.form.validate()) {
                    this.$emit('save', {
                        parentId: this.parentId,
                        text: this.text
                    });

                    this.text = '';

                    this.$refs.form.resetValidation();
                }
            }
        }
    };
</script>

<style scoped>
    .comment {
        width: 100%;
    }
</style>