<template>
    <div>
        <v-list>
            <template v-for="(comment, index) in comments">
                <v-list-item :key="`comment-${comment.Id}`">
                    <v-container fluid>
                        <router-link :to="{
                            name: 'Article',
                            params: {
                                id: comment.Article.Id
                            }
                        }">
                            <v-row>
                                <v-col>
                                    <h3>{{ comment.Article.Title }} - by {{ comment.Article.User.FirstName }} {{ comment.Article.User.LastName }}</h3>
                                </v-col>
                            </v-row>
                        </router-link>

                        <v-row>
                            <v-col>
                                <Comment
                                    :comment="comment"
                                    readonly
                                />
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-spacer />

                            <v-btn
                                @click="remove(comment.Id)"
                                text
                            >
                                <v-icon>mdi-delete</v-icon>

                                <span>Remove</span>
                            </v-btn>
                        </v-row>
                    </v-container>
                </v-list-item>

                <v-divider
                    v-if="index + 1 !== comments.length"
                    :key="`divider-${index}`"
                />
            </template>
        </v-list>
    </div>
</template>

<script>
    import { api } from '@/services';
    import { Comment } from './';
    import { errorHandler } from '@/mixins';

    export default {
        name: 'Comments',
        components: { Comment },
        mixins: [errorHandler],
        data() {
            return {
                comments: []
            };
        },
        mounted() {
            this.load();
        },
        methods: {
            load() {
                api
                    .request({
                        method: "GET",
                        url: 'comments',
                        params: {
                            $expand: 'Article($expand=User;$select=Id,Title,User),User'
                        }
                    })
                    .then(({ data }) => this.comments = data.value)
                    .catch(this.handleError);
            },
            remove(id) {
                api
                    .request({
                        method: 'DELETE',
                        url: `comments(${id})`
                    })
                    .then(() => {
                        this.$root.$emit('showNotification', {
                            message: 'Comment deleted',
                            type: 'success'
                        });

                        this.load();
                    })
                    .catch(this.handleError);
            }
        }
    };
</script>